<%- include('../shared/header') %>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <span class="alert alert-success" role="alert">Post Is Deleted Successfully</span>
            <a href="/post" >Back To Posts</a>
        </div>
    </div>
    <%- include('../shared/footer') %>